<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спиcок товаров</title>
    <h1>Магазинчик дяди Джо</h1>
    <link rel="stylesheet" href="">
    <style>
        .item-card {
            display: inline-block;
            border: 1px solid green;
            padding: 10px;
        }
    </style>
</head>
<body>
    <ol>
        {% for item in items %}
        <a href="/item/{{item.id}}">
            <li class="item-card">
             {{ item.name }}
                <div>"Описание товара"</div>
            </li>
        </a>
        {% endfor %}
    </ol>
</body>
</html>